@charset "utf-8";

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$white: #FFFFF3;
$grayish-purple: #A593E0; //#ABD0CE;
$gray: #566270; //#7C7877;
$beige: #E0E3DA; //#D9D4CF;


// Update Bulma's global variables
$family-sans-serif: "McLaren", sans-serif;
$grey-dark: $gray;
$grey-darker: $gray;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "~bulma/bulma.sass";

//header
header.hero.head {
  background-color: $grayish-purple;
  .blog-title {
    margin-left: 0.25rem;
  }
}

//footer
footer.hero.foot {
  background-color: $grayish-purple;
  .copyright {
    padding: 0.5rem 0.75rem;
  }
}

//sideber
.sideber {
  padding: 1.25rem 0.5rem 1.25rem 0;
}

.account {
  color: #DE7E73;
}

.twitter {
  color: #6AAFE6;
}

.github {
  color: #333030;
}

.email {
  color: #7C7877;
}

.profile {
  padding: 1.125rem 0.75rem;
  border-left: $beige dotted;
  min-height: 400px;
  height: 100%;
  .picture {
    //border: #D9D4CF 0.25px solid;
    margin-bottom: 0.3rem;
  }
}

//articles(index)
.tile.articles {
  min-height: 400px;
  padding: 2rem 1.25rem;
}

.column .card {
  &.card-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    .flex {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      .bottom-align {
        position: absolute;
        bottom: 0;
        padding: 0.3rem 0;
      }
    }
    .time {
      color: $gray;
    }
  }
}

@media screen and (max-width: 768px) {
  //sideber
  .sideber {
    padding: initial;
  }

  .image.is-square.picture {
    width: 55%;
    height: 55%;
    padding-top: 55%;
    margin: auto;
  }

  .profile {
    min-height: initial;
    min-height: auto;
    margin: 0 1.5rem 1rem;
    padding: 0.3rem;
    overflow: hidden;
    .tile.is-child {
      width: 55%;
      float: left;
      padding: inherit;
      &.prof-info {
        width: 45%;
      }
    }
  }
}
